 <div class="page">
    <h2>Путёвки</h2>

    <button (click)="
        formPermitService.titleForm = 'Добавление путёвки';
        formPermitService.defaultData = formPermitService.emptyPermit;
        modalWindowService.open()
        "
    >
        Добавить путёвку
    </button>

    <app-modal-window *ngIf="modalWindowService.isOpen">
        <app-form-permit 
            (resetClick)="modalWindowService.close()"
        />
    </app-modal-window>

    <div class="list">
        <div class="list_item" *ngFor="let permit of permitService.listPermit | async"> 
            <app-card-permit [data]="permit" />
            <div>
                <button class="primary"
                    (click)="
                        formPermitService.defaultData = permit;
                        formPermitService.titleForm = 'Редактирование путёвки';
                        modalWindowService.open();
                    "
                >
                    Редактировать
                </button>
                <button class="default" (click)="permitService.delete(permit.id!)">Удалить</button>
            </div>
        </div>
    </div>

    <app-alert />
 </div>
 
