@import '../../../../styles/colors';
@import '../../../../styles/botton';

.page {
    padding-top: 30px;
    padding-left: 40px;

    h2 {
        margin-bottom: 20px;
    }

    button {
        @include button-primary;
    }

    .list {
        margin-top: 20px;
        padding: 5px 0 5px 5px;

        width: 60vw;
        height: 75vh;

        overflow-x: 0;
        overflow-y: auto;

        .list_item {

            width: 90%;

            display: flex;
            align-items: center;
            justify-content: space-between;

            box-shadow: 0 0 4px $dark;

            border-radius: 5px;

            padding: 10px;

            &:not(:first-child) {
                margin-top: 20px;
            }
        }
    }

    button.primary {
        margin-right: 20px;
    }

    button.default {
        @include button-default;
    }
}