<form class="form" [formGroup]="form" (ngSubmit)="submit()">
    <h2>{{ formHotelService.titleForm }}</h2>

    <div class="form-group">
        <label class="form-group_label">Название отеля:</label>
        <input 
            class="form-group_input" 
            [ngClass]="{'isSubmit': isSubmit}"
            type="text" 
            formControlName="name" 
        />
        <div class="form-group_error" *ngIf="name?.invalid && isSubmit">
            <span *ngIf="name?.errors?.['required']">Поле обязательно для заполнения</span>
        </div>
    </div>

    <div class="form-group">
        <label class="form-group_label">Страна:</label>
        <input 
            class="form-group_input" 
            [ngClass]="{'isSubmit': isSubmit}"
            type="text" 
            formControlName="country"
        />
        <div class="form-group_error" *ngIf="country?.invalid && isSubmit">
            <span *ngIf="country?.errors?.['required']">Поле обязательно для заполнения</span>
        </div>
    </div>

    <div class="form-group">
        <label class="form-group_label">Город</label>
        <input 
            class="form-group_input" 
            [ngClass]="{'isSubmit': isSubmit}"
            type="text" 
            formControlName="city"
        />
        <div class="form-group_error" *ngIf="city?.invalid && isSubmit">
            <span *ngIf="city?.errors?.['required']">Поле обязательно для заполнения</span>
        </div>
    </div>

    <div class="form-group">
        <label class="form-group_label">Улица:</label>
        <input 
            class="form-group_input" 
            [ngClass]="{'isSubmit': isSubmit}"
            type="text" 
            formControlName="street" 
        />
        <div class="form-group_error" *ngIf="street?.invalid && isSubmit">
            <span *ngIf="street?.errors?.['required']">Поле обязательно для заполнения</span>
        </div>
    </div>

    <div class="form-group">
        <label class="form-group_label">Дом:</label>
        <input 
            class="form-group_input" 
            [ngClass]="{'isSubmit': isSubmit}"
            type="text" 
            formControlName="home" 
        />
        <div class="form-group_error" *ngIf="home?.invalid && isSubmit">
            <span *ngIf="home?.errors?.['required']">Поле обязательно для заполнения</span>
        </div>
    </div>

    

    <div class="form-group">
        <label class="form-group_label">Количество звёзд:</label>
        <select 
            class="form-group_input" 
            [ngClass]="{'isSubmit': isSubmit}"
            formControlName="countStarts"
        >
            <option value=1 >1</option>
            <option value=2 >2</option>
            <option value=3 >3</option>
            <option value=4 >4</option>
            <option value=5 >5</option>
        </select>
        <div class="form-group_error" *ngIf="countStarts?.invalid && isSubmit">
            <span *ngIf="countStarts?.errors?.['required']">Поле обязательно для заполнения</span>
        </div>
    </div>

    <div class="form-group-button">
        <button class="form-button primary">Подтвердить</button>
        <button class="form-button" type="reset" (click)="modalWindowService.close()">Отменить</button>
    </div>
</form>
