<form class="form" [formGroup]="form" (ngSubmit)="submit()">
    <h2>{{ formPermitService.titleForm }}</h2>

    <div class="form-group">
        <label class="form-group_label">Отель:</label>
        <select 
            class="form-group_input" 
            [ngClass]="{'isSubmit': isSubmit}"
            list="hotels" 
            formControlName="hotel"
        >
            <option  
                *ngFor="let hotel of hotelSerivce.listHotel"  
                [value]="hotel.name"            
            >
                {{hotel.name}}
            </option>
        </select>
        <div class="form-group_error" *ngIf="hotel?.invalid && isSubmit">
            <span *ngIf="hotel?.errors?.['required']">Поле обязательно для заполнения</span>
        </div>
    </div>

    <div class="form-group">
        <label class="form-group_label">Цена путёвки:</label>
        <input 
            class="form-group_input" 
            [ngClass]="{'isSubmit': isSubmit}"
            type="number" 
            formControlName="price" 
        />
        <div class="form-group_error" *ngIf="price?.invalid && isSubmit">
            <span *ngIf="price?.errors?.['required']">Поле обязательно для заполнения</span>
            <span *ngIf="price?.errors?.['min']">Цена не может быть отрицательной</span>
        </div>
    </div>

    <div class="form-group">
        <label class="form-group_label">Скидка:</label>
        <select 
            class="form-group_input" 
            [ngClass]="{'isSubmit': isSubmit}"
            formControlName="discount" 
        >
            <option [ngValue]="null">Нет скидки</option>
            <option  
                *ngFor="let discount of (discountService.listDiscount | filterList: dateNow)"  
                [ngValue]="discount.id"            
            >
                {{ discount.size }}&#37;
                &nbsp;
                (
                    до
                    {{ discount.timeFinish | date:"dd.MM.yyyy"}} 
                )
            </option>
        </select>
    </div>

    <div class="form-group">
        <label class="form-group_label">Дата начала действия путёвки:</label>
        <input 
            class="form-group_input" 
            [ngClass]="{
                'isSubmit': isSubmit, 
                'ng-invalid': timeStart?.errors?.['required'] 
            }"
            type="date" 
            formControlName="timeStart"
        />
        <div class="form-group_error" *ngIf="timeStart?.invalid && isSubmit">
            <span *ngIf="timeStart?.errors?.['required']">Поле обязательно для заполнения</span>
        </div>
    </div>

    <div class="form-group">
        <label class="form-group_label">Дата окончания действия путёвки:</label>
        <input 
            class="form-group_input" 
            [ngClass]="{
                'isSubmit': isSubmit, 
                'ng-invalid': timeFinish?.errors?.['required'] || form.errors?.['dateFinishLessDateStart']
            }"
            type="date" 
            formControlName="timeFinish"
        />
        <div class="form-group_error" 
            *ngIf="(timeFinish?.invalid || form.errors?.['dateFinishLessDateStart']) && isSubmit"
        >
            <span *ngIf="timeFinish?.errors?.['required']">Поле обязательно для заполнения</span>
            <span *ngIf="form.errors?.['dateFinishLessDateStart'] && !timeFinish?.errors?.['required']">
                Конфликт с датой начала действия путёвки
            </span>
        </div>
    </div>

    <div class="form-group-button">
        <button class="form-button primary">Подтвердить</button>
        <button class="form-button" type="reset" (click)="modalWindowService.close()">Отменить</button>
    </div>
</form>
