<form class="form" [formGroup]="form" (ngSubmit)="submit()">
    <h2>{{ formPermitService.titleForm }}</h2>

    <div class="form-group">
        <label class="form-group_label">Отель:</label>
        <input class="form-group_input" list="hotels" formControlName="hotel">
        <datalist id="hotels">
            <option  
                *ngFor="let hotel of hotelSerivce.listHotel | async"  
                [value]="hotel.name"            
            >
        </datalist>
       
        
        
        <!-- <div class="form-group_error" *ngIf="street?.invalid && street?.touched">
            <span *ngIf="street?.errors?.['required']">Поле обязательно для заполнения</span>
        </div> -->
    </div>
    <div class="form-group">
        <label class="form-group_label">Цена путёвки:</label>
        <input class="form-group_input" type="number" formControlName="price" />
        <div class="form-group_error" *ngIf="price?.invalid && price?.touched">
            <span *ngIf="price?.errors?.['required']">Поле обязательно для заполнения</span>
            <span *ngIf="price?.errors?.['min']">Цена не может быть отрицательной</span>
        </div>
    </div>

    <div class="form-group">
        <label class="form-group_label">Дата начала действия путёвки:</label>
        <input class="form-group_input" type="date" formControlName="timeStart"/>
        <div class="form-group_error" *ngIf="timeStart?.invalid && timeStart?.touched">
            <span *ngIf="timeStart?.errors?.['required']">Поле обязательно для заполнения</span>
        </div>
    </div>

    <div class="form-group">
        <label class="form-group_label">Дата окончания действия путёвки:</label>
        <input class="form-group_input" type="date" formControlName="timeFinish"/>
        <div class="form-group_error" *ngIf="timeFinish?.touched">
            <span *ngIf="timeFinish?.errors?.['required']">Поле обязательно для заполнения</span>
            <span *ngIf="timeFinish?.value < timeStart?.value">
                Конфликт с датой начала действия путёвки
            </span>
        </div>
    </div>

    <!-- <div class="form-group">
        <label class="form-group_label">Дом:</label>
        <input class="form-group_input" type="text" formControlName="home" />
        <div class="form-group_error" *ngIf="home?.invalid && home?.touched">
            <span *ngIf="home?.errors?.['required']">Поле обязательно для заполнения</span>
        </div>
    </div> -->

    <div class="form-group-button">
        <button class="form-button primary" [disabled]="form.invalid">Подтвердить</button>
        <button class="form-button" type="reset" (click)="modalWindowService.close()">Отменить</button>
    </div>
</form>
