<form class="form" [formGroup]="form" (ngSubmit)="submit()">
    <h2>{{ formDiscountService.titleForm }}</h2>

    <div class="form-group">
        <label class="form-group_label">Размер скидки:</label>
        <input 
            class="form-group_input" 
            [ngClass]="{'isSubmit': isSubmit}"
            type="number" 
            formControlName="size" 
        />
        <div class="form-group_error" *ngIf="size?.invalid && isSubmit">
            <span *ngIf="size?.errors?.['required']">Поле обязательно для заполнения</span>
            <span *ngIf="size?.errors?.['min']">Скидка не может быть отрицательной</span>
        </div>
    </div>
    <div class="form-group">
        <label class="form-group_label">Дата окончания действия скидки:</label>
        <input 
            class="form-group_input" 
            [ngClass]="{
                'isSubmit': isSubmit, 
                'ng-invalid': timeFinish?.errors?.['required'] || timeFinish?.errors?.['moreOrEqualNow']
            }"
            type="date" 
            formControlName="timeFinish"
        />
        <div class="form-group_error" *ngIf="isSubmit">
            <span *ngIf="timeFinish?.errors?.['required']">Поле обязательно для заполнения</span>
            <span 
                *ngIf="!timeFinish?.errors?.['required'] && timeFinish?.errors?.['moreOrEqualNow']"
            >
                Дата окончания не может быть в прошлом
            </span>
        </div>
    </div>

    <div class="form-group-button">
        <button class="form-button primary">Подтвердить</button>
        <button class="form-button" type="reset" (click)="modalWindowService.close()">Отменить</button>
    </div>
</form>
