@import '../../../../styles/colors';
@import '../../../../styles/botton';

.page {

    display: grid;
    grid-template-areas: "clients contracts";
    grid-template-columns: 20vw 1fr;


    .clients {

        grid-area: clients;

        .list_item {

            box-shadow: 0 0 4px $dark;

            border-radius: 5px;

            padding: 10px;

            &:not(:first-child) {
                margin-top: 20px;
            }
        }
    }

    .contracts {
        grid-area: contracts;
    }

    button {
        @include button-primary;
    }

    button.primary {
        margin-top: 10px;
    }

}